* {
  margin: 0;
  padding: 0;
} 
body {
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
} 
.header {
  background: darkgreen;
} 
.header__title {
  text-align: center;
  color: white;
  font-size: 2em;
}

.section__map {
  height: 80vh;
  width: 100%;
} 
.timezone {
  color: green;
  font-weight: bold;
} 
.campersImg img {
  position: relative;
} 
.avatar {
  border-radius: 50%;
  width: 70px;
} 
.cohort {
  left: -30px;
  width: 30px;
} 
.footer {
  border: 1px solid black;
  display: table;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
} 
.footer__block {
  display: inline-block;
} 
.footer__block--img {
  margin: 0 1em;
  width: 50px;
} 
.lang {
  font-size: 1.2em;
  padding-top: 2px;
} 

 