* {
	margin: 0;
	padding: 0;
}
header {
	background: darkgreen;
}
p {
	color: white;
	text-align: center;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.9em;
	margin: 0;	
}
#map {
	height: 100vh;
}
ol {
	list-style-type: none;
	text-align: center;
	background: black;
	margin: 0 auto;
	color: white;

}
footer li {
	display: inline;
	padding: 0 10px;
}


